body {
  background-color: rgb(19, 34, 31);
  text-align: center;
  color: whitesmoke;
}

.heading-text {
  font-size: 4rem;
}

#spinning-weather-icon {
  animation: spin 12s linear infinite;
  height: 7rem;
  width: 7rem;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.temp-text-link {
  color: rgb(27, 189, 108);
}

.temp-text-link:hover {
  color: blue;
  cursor: pointer;
}
